{{#partial "content"}}
    <h3 style="padding-top: 5%;">All Animals </h3>
    {{if animals}}
    {{#each animals }}
        <div class="container" >

            <p>{{ name }} </p><br>
        </div>
    {{/each}}
{{else}}
{{/partial}}
{{>layout.hbs}}