{{#partial "content"}}

    <style>
        @import url('https://fonts.googleapis.com);


           h1{
             color: white;
             height:100%;
             border-radius:12px;
             font-family: 'Open Sans', cursive;
               }
           h4{
             color: black;
             height:100%;
             border-radius:12px;
             font-family: 'Open Sans', cursive;
           }
    </style>

    <div class="container">
        <br><br><br><br>
        <h1>DOUGLAS FOREST WILDLIFE TRACKER</h1>
        <br/>
        <br/>
        <br/>
        <br><br>

        <br><br>
        <h1>Fill a form to add new sighting or view existing animals.</h1> <br>
    </div>
    <br><br>

    <div class="btn-group btn-group-sm">
        <a type="button" class="btn btn-secondary" href="/animal/new">Add animal</a>
        <a type="button" class="btn btn-secondary" href="/new-sighting">New sighting</a>
        <a type="button" class="btn btn-secondary" href="/sightings">Sightings</a>
        <a type="button" class="btn btn-secondary" href="/animals">Animals</a>
        <a type="button" class="btn btn-secondary" href="/rangers">Rangers</a>
    </div>
{{/partial}}

{{>layout.hbs}}
