{{#partial "content"}}
    <style>
        body {

        padding-top: 5%;

      text color:white;
      text-align:center;
            }
    </style>
    <div class="container">
        <div class="jumbotron" style="background-color:grey; opacity:0.6;">
            <h3>Animal Added </h3>
            {{name}}<br>
            {{health}}<br>
            {{age}}<br>
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}